<mat-toolbar class="mat-elevation-z8">
  <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
    <span class="material-icons" *ngIf="!sidenav.opened">
      menu
    </span>
    <span class="material-icons" *ngIf="sidenav.opened">
      close
    </span>
  </button>
  Facial Recognition Login
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">
    <mat-nav-list class="mat-nav-list">
      <a mat-list-item *ngFor="let menu of menus; let i = index;" routerLink="{{menu.path}}" title="{{menu.title}}"
        (click)="getMenuID(menu.id); menuID = menu.id" [ngClass]="{'active': menuID === menu.id}">
        <span class="material-icons">{{menu.icon}}</span>
        <span>{{menu.title}}</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="content mat-elevation-z8">
      <ng-content></ng-content>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>